.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1da1f2;
  text-align: center;
}

.App-link {
  color: #1d7ebb;

  /* color: #34373b */
}

input[type="checkbox"] {
  content: "";
  position: absolute; 
  left: 0; top: 1px;
  width: 20px; 
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

.tw-header--signup,
.tw-header--login {
  display: inline-block;
  position: relative; 
  height: 2.5em;
  padding-left: 1em;
  font-size: .8em;
  text-decoration: none;
  color: #1da1f2;
}