.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1da1f2;
  text-align: center;
}

.App-link {
  color: #1d7ebb;

  /* color: #34373b */
}

input[type="checkbox"] {
  content: "";
  position: absolute; 
  left: 0; top: 1px;
  width: 20px; 
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

.nav-container {
  position: fixed;
  display: inline-block;
  margin-right: 4rem;
  border: 1px solid lightgrey;
  line-height: 3rem;
  top: 0;
  left: 0;
  width: 100%;
}

.tw-header--nav {
  display: flex;
  float: right;
  margin-right: 4rem;
}

.signup-link {
  /* padding-left: 3em; */
  /* font-size: .9em; */
  text-decoration: none;
  color: white;
}
.login-link {
  text-decoration: none;
  color: #1da1f2;
}
.signup-link:hover,
.login-link:hover {
  font-weight: 500;
}


.fa-twitter {
  float: left;
  margin-left: 4rem;
  line-height: 3rem;
  font-size: 2rem;
}

.tw-header--back_button,
.back_buttonn {
  float: left;
}
