.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1da1f2;
  text-align: center;
}

.App-link {
  color: #1d7ebb;

  /* color: #34373b */
}
